<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">


    <!-- link rel="canonical" href="https://rosenoh.uedayou.net/" -->
    <!-- meta property="og:url" content="https://rosenoh.uedayou.net/" -->
    <!-- meta name="twitter:site" content="https://rosenoh.uedayou.net/" -->

    <meta name="author" content="@uedayou">
    <meta property="og:site_name" content="路線王 ～駅名だけで鉄道路線を当てるクイズゲーム～">
    <meta property="og:title" content="路線王 ～駅名だけで鉄道路線を当てるクイズゲーム～">
    <meta name="description" content="鉄道駅名の候補だけを見て、日本のどの鉄道路線かを当てるクイズゲームアプリです。">
    <meta property="og:description" content="鉄道駅名の候補だけを見て、日本のどの鉄道路線かを当てるクイズゲームアプリです。">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta property="og:image" content="https://uedayou.net/jrslod-ogp.jpg" />
    <meta name="twitter:image" content="https://uedayou.net/jrslod-twittercard.jpg" />

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45357765-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-45357765-1');
    </script>
  </body>
</html>
